
-- Update testimonials table with missing fields
ALTER TABLE website_testimonials 
ADD COLUMN IF NOT EXISTS service_type TEXT,
ADD COLUMN IF NOT EXISTS is_featured BOOLEAN DEFAULT FALSE,
ADD COLUMN IF NOT EXISTS source TEXT DEFAULT 'Manual Entry';

-- Rename review_text to review if needed, or just map it in API. 
-- I'll stick to mapping in API to avoid breaking existing queries if any.

