
-- Add Section Configs for Global Sections
CREATE TABLE IF NOT EXISTS website_section_configs (
    section_id TEXT PRIMARY KEY, -- 'how-it-works', 'why-choose-us', 'testimonials'
    layout_style TEXT,
    animation_type TEXT,
    primary_color TEXT,
    is_visible BOOLEAN DEFAULT TRUE,
    extra_config JSONB DEFAULT '{}',
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE website_section_configs ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Public
read
access
for
website_section_configs\ ON website_section_configs FOR SELECT USING (true);
CREATE POLICY \Allow
write
for
authenticated
on
website_section_configs\ ON website_section_configs FOR ALL USING (auth.role() = 'authenticated');

